.header {
  background-color: var(--primary-color);
  width: 94vw;
  height: 540px;
  border-radius: 16px;
  margin: 0 auto;
  position: relative;
}

.svg_holder{
    width: 176px;
    height: 176px;
    border-radius: 16px;
    position: absolute;
    right: 68px;
    bottom: -70px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
}

